<ng-container *ngFor="let apparel of apparels; trackBy: identify">
  <div class="apparels__apparel">
    <p class="apparels__name">
      {{ apparel.title }}
    </p>

    <img class="apparels__image" [src]="apparel.image" [alt]="apparel.title" />

    <div class="apparels__price">
      <span> {{ apparel.price }} $ </span>

      <a class="apparels__add-cart" matTooltip="Add to cart" matTooltipPosition="after" (click)="addToCart(apparel)">
        <shop-cart></shop-cart>
      </a>
    </div>
  </div>
</ng-container>
