<div class="shopping-cart">
  <h2 class="shopping-cart__header">Shopping cart</h2>

  <hr class="shopping-cart__line">

  <ng-container *ngIf="cartApparels.length > 0; else empty">
    <div class="shopping-cart__apparel" *ngFor="let apparel of cartApparels">
      <p>{{ apparel.name }}</p>
      <div>
        <span>{{ apparel.price }}$</span>
        <a (click)="deleteCartApparel(apparel)">
          <mat-icon class="icon">delete</mat-icon>
        </a>
      </div>
    </div>

    <p class="shopping-cart__subtotal">Subtotal: {{subtotal.toFixed(2)}} $</p>

    <button mat-button class="shopping-cart__checkout"
            (click)="checkout(subtotal)">
      Checkout
    </button>
  </ng-container>

  <ng-template #empty>
    <span class="shopping-cart__empty">YOU HAVE NOTHING IN YOUR SHOPPING CART. CONTINUE SHOPPING</span>
  </ng-template>

</div>