# compiled output
/dist
/tmp
/out-tsc

# dependencies
**/node_modules
/functions/node_modules

# video_content
/video

# IDEs and editors
.idea
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.angulardoc.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
