:host {
  background-color: black;
  color: white;
  position: absolute;
  width: 42px;
  height: 42px;
  left: calc(50% - 21px);
  top: -64px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
