.entrance {
  position: relative;
  height: 100vh;
}

//.entrance__offer {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    width: 140px;
//    height: 50px;
//    border: 2px solid #ebebeb;
//    background: inherit;
//    color: #ebebeb;
//    font-weight: 500;
//    font-size: 19px;
//    z-index: 2;
//    &:hover {
//        background: #ebebeb;
//        color: black;
//    }
//    &:active {
//        font-weight: 700;
//        background: #ebebeb;
//        color: black;
//        border-width: 3px;
//    }
//}

.entrance__media {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;

  overflow: hidden;
}

.entrance__image {
  width: 100%;
  height: 100%;
}

.entrance__offer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 19px;
  z-index: 2;
  width: 135px;
  height: 50px;
  border: 2px solid rgba(14, 7, 59, 0.76);
  background: rgba(14, 7, 59, 0.76);
  color: white;
  box-shadow: 0px 0px 18px 7px rgba(0, 0, 88, 0.55),
  2px 0px 18px 3px rgba(0, 0, 88, 0.45) inset;
  &:hover {
    border-radius: 3px;
    background: rgba(27, 16, 97, 0.76);
    border-color: rgba(27, 16, 97, 0.76);
    box-shadow: 0 0 20px 3px rgba(14, 7, 59, 0.75);
  }
  &:active {
    font-weight: 700;
    background: rgba(27, 16, 97, 0.76);
    border: 3px solid rgba(27, 16, 97, 0.76);
    box-shadow: 0 0 20px 3px rgba(14, 7, 59, 0.75);
  }
}