<div class="auth">
  <div class="auth__logo-wrapper">
    <img class="auth__logo" src="/assets/Reignarr.png" alt="logo">
  </div>

  <div class="auth__method" *ngIf="isNewUser && (!user || !user.catchPhrase)">
    <auth-sign-up
        [user]="user"
        (signUpEmitter)="signUp($event)"
        (setCatchPhraseEmitter)="setCatchPhrase($event)"
        (toggleAuthMethodEmitter)="toggleAuthMethod()">
    </auth-sign-up>
  </div>

  <div class="auth__method" *ngIf="!isNewUser && !user">
    <auth-sign-in
        [user]="user"
        (signInEmitter)="signIn($event)"
        (toggleAuthMethodEmitter)="toggleAuthMethod()">
    </auth-sign-in>
  </div>
</div>

