<div class="entrance">
  <!--TODO: create home-action-->
  <div class="entrance__action">
    <a [routerLink]="['/shop']">
      Shop now
    </a>
  </div>
  <!--TODO: create home-wallpaper-->
  <div class="entrance__media">
    <img class="entrance__image"
         src="/assets/fw181.jpg"
         alt="Reignarr">
  </div>

  <!--<video class="entrance__media" id="video" playsinline autoplay muted loop>-->
  <!--<source src="/assets/video/colors.mp4" type="video/mp4">-->
  <!--</video>-->
</div>
