:host {
  height: 105vh;
}

.wallpaper {
  &__media {
    display: block;
    width: 100%;
    height: 110vh;
    object-fit: cover;

    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 110vh;
  }
}
