<header class="header">
  <section class="header__brandline">
    <a class="header__brandname" routerLink="/">Reignarr</a>
    <a (click)="auth()">
      <mat-icon class="header__icon header__icon-profile">account_circle</mat-icon>
    </a>
  </section>

  <section class="header__nav">
    <div class="header__nav-main">
      <a routerLink="/">Home</a>
      <!--TODO: Lookbook as CMS-->
      <a routerLink="/shop">Shop</a>
      <a routerLink="/cart">
        <mat-icon class="header__icon header__icon-cart">shopping_cart</mat-icon>
      </a>
    </div>
    <div class="header__nav-main">
      <!--TODO: Blog as CMS-->
      <a routerLink="location/map">Store Location</a>
      <a routerLink="location/stocklists">Stocklists</a>
    </div>
  </section>
</header>
