:host {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 19px;
  z-index: 2;
  width: 135px;
  height: 50px;
  border: 2px solid rgba(14, 7, 59, 0.76);
  background: rgba(14, 7, 59, 0.76);
  color: white;
  box-shadow: 0px 0px 18px 7px rgba(0, 0, 88, 0.55), 2px 0 18px 3px rgba(0, 0, 88, 0.45) inset;
  transition: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: linear;

  &:hover {
    border-radius: 3px;
    background: rgba(27, 16, 97, 0.76);
    border-color: rgba(27, 16, 97, 0.76);
    box-shadow: 0 0 20px 3px rgba(14, 7, 59, 0.75);
  }
}
