<div class="sign-up">
  <p class="sign-up__title" *ngIf="!user?.catchPhrase">Sign up for free</p>


  <form class="sign-up__form" *ngIf="!user?.uid" [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm)">
    <mat-form-field>
      <input matInput type="email" placeholder="E-Mail" formControlName="email">
    </mat-form-field>

    <!--<p *ngIf="signUpForm.value.email.invalid && signUpForm.value.email.dirty">Your email doesn't look quite right...</p>-->

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>

    <!--<p *ngIf="signUpForm.value.password.invalid && signUpForm.value.password.touched">-->
    <!--Password must be between 6 and 25 chars and have at least one number-->
    <!--</p>-->

    <!--<p *ngIf="signUpForm.valid">-->
    <!--Form looks good! Let's do this.-->
    <!--</p>-->

    <button class="sign-up__submit" mat-raised-button>
      Next
    </button>
  </form>

  <form class="sign-up__form" *ngIf="user && !user.catchPhrase" [formGroup]="detailForm"
        (ngSubmit)="setCatchPhrase(detailForm.value.catchPhrase)">
    <mat-form-field>
      <input matInput type="text" placeholder="Catch phrase" formControlName="catchPhrase">
    </mat-form-field>

    <button class="sign-up__submit" mat-raised-button>
      Sign up
    </button>
  </form>

  <a class="sign-up__sign-in-link" (click)="toggleAuthMethod()">Have an account? Sign in now</a>
</div>

