<div class="info">
  <p class="info__title">
    {{ data.title }}
  </p>

  <ng-container *ngFor="let description of data.content; trackBy: identify">
    <div class="info__description">
      <h4 class="info__description-type">
        {{ description.type }}
      </h4>

      <ng-container *ngFor="let rule of description.rules">
        <p class="info__description-rule">
          {{ rule }}
        </p>
      </ng-container>
    </div>
  </ng-container>
</div>

<button mat-button mat-dialog-close>Ok</button>
