<section class="apparels">
  <div class="apparels__apparel" *ngFor="let apparel of apparels">
    <p class="apparels__name">{{apparel.name}}</p>
    <img class="apparels__image" [src]="apparel.url" [alt]="apparel.name">
    <div class="apparels__price">
      <span>{{apparel.price}} $</span>
      <a class="apparels__add-cart" matTooltip="Add to cart" matTooltipPosition="after" (click)="addToCart(apparel)">
        <mat-icon class="icon">add_shopping_cart</mat-icon>
      </a>
    </div>
  </div>
</section>
