.location {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  justify-content: space-between;

  &__gmap {
    margin-bottom: 30px;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      width: 35%;
    }

    &-search {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &.search-input {
      width: 60%;
    }

    /deep/ & > .mat-form-field-wrapper {
      width: 100%;
    }

    .search-button {
      width: 38%;
      height: 100%;
    }

    .position-button {
      width: 100%;
      margin: 5px 0;
    }
  }
}