.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #272626;
  color: white;

  &__info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
  }

  &__info a {
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
