<footer class="footer">
  <nav class="footer__info">
    <section role="dialog" aria-label="rules and policies">
      <a
        accesskey="&"
        aria-label="Open a shipping and handling dialog"
        title="Shipping & Handling"
        (click)="openShippingHandling()"
      >
        Shipping & Handling
      </a>
      <a accesskey="p" aria-label="Open return policy dialog" title="Return policy" (click)="openReturnPolicy()">
        Return policy
      </a>
    </section>

    <section role="navigation">
      <a
        accesskey="v"
        aria-label="Go to Facebook page"
        target="_blank"
        rel="noopener noreferrer"
        title="vk"
        href="https://vk.com/retarsis"
      >
        VK
      </a>
      <a
        accesskey="f"
        aria-label="Go to Facebook page"
        target="_blank"
        rel="noopener noreferrer"
        title="facebook"
        href="https://www.facebook.com/retarsis"
      >
        Facebook
      </a>
      <a
        accesskey="i"
        aria-label="Go to Facebook page"
        target="_blank"
        rel="noopener noreferrer"
        title="instagram"
        href="https://www.instagram.com/retarsis"
      >
        Instagram
      </a>
    </section>
  </nav>
</footer>
