.apparel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #1d0f60;
  font-size: 21px;

  margin: 3px 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__delete:hover {
    cursor: pointer;
  }
}
